.game-view {
    background-color: #474747;
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
}


.game-view__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-view__stratagem-icon {
    height: 100px;
    width: 100px;
}

.game-view__stratagem-code {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.game-view__input {
    position: absolute;
    top: -100px;
    width: 0px;
    height: 0px;

    border-style: none;
}